h1 {
    color: blue;
 }

 img {
     width: 400px;
 }
 
 #thirdDiv {
     height: 600px;
     width: 500px;
     background-color: lightblue;
     padding: 50px;
     border: 5px darkcyan solid;
 }

 #spanId {
     margin: 50px;
     font-size: 18px;
 }